@model IEnumerable<Balimoon_E_Procurement.Models.UserRoleVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><h2>Manage Other User</h2><br />

<section class="content">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card-header">
                    <h3 class="card-title">Confirmed User</h3>
                </div>
                <div class="card-body">
                    <table id="tabel1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Username
                                </th>
                                <th>
                                    E-Mail
                                </th>
                                <th>
                                    Confirmed
                                </th>
                                <th>
                                    Phone Number
                                </th>
                                <th>
                                    Role Code
                                </th>
                                <th>
                                    Role Name
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usertbl.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usertbl.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usertbl.EmailConfirmed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.usertbl.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.roletbl.ConcurrencyStamp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.roletbl.Name)
                                </td>
                                <td>
                                    <!-- <a asp-action="Edit" asp-route-id="@item.usertbl.Id">Edit</a> |-->
                                    <a asp-action="Details" asp-route-id="@item.usertbl.Id" class="btn btn-info">Details</a>
                                    <!-- |
        <a asp-action="Delete" asp-route-id="@item.usertbl.Id">Delete</a>-->
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
    
<script>
    $(function(){
        $('#tabel1').DataTable();
    )};
</script>