@model IEnumerable<Balimoon_E_Procurement.Models.UserRoleVM>
@{
    ViewData["Title"] = "Userrole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2> Manage User Role</h2><br />
<section class="content">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card-header">
                    <h3 class="card-title">Confirmed User</h3>
                </div>
                <div class="card-body">
                    <table id="tabel1" class="table table-bordered table-striped">
                       <thead>
                           <tr>
                               <th>
                                   User Name
                               </th>
                               <th>
                                   E-Mail
                               </th>
                               <th>
                                   Phone Number
                               </th>
                               <th>
                                   Role Code
                               </th>
                               <th>
                                   Role Name
                               </th>
                               <th>
                                   Action
                               </th>
                           </tr>
                       </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usertbl.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usertbl.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.usertbl.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.roletbl.ConcurrencyStamp)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.roletbl.Name)
                                    </td>
                                    <td>
                                        <a asp-action="Userroleform" asp-route-id="@item.usertbl.Id" class="btn btn-primary text-bold">Update Role</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function(){
        $('#tabel1').DataTable();
    )};
</script>

